.Title {
  position: absolute;
  top: 1rem;
  left: 1.5rem;
  right: 1.5rem;
  background: rgba(0, 0, 0, .5);
  color: white;
  padding: .5rem 1rem;

  h2 {
    margin: 0;
    font-size: 1rem;
    font-weight: normal;
  }
}
