.truncate-text {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.btn-default {
  border: none;
  border-radius: .25em;
  margin: 0;
  font-weight: 600;
  max-width: 100%;
  white-space: nowrap;

  &:disabled,
  &[disabled]{
    background-color: #cccccc;
    color: #666666;
    cursor: progress;
  }
}

.btn-small {
  @extend .btn-default;
  background-color: color(primary);
  padding: .5em .9rem;
  color: white;
  font-size: .8rem;
  cursor: pointer;
  font-family: 'robotolight';
}


.input-default {
  border-radius: .25em;
  width: 100%;
  padding: .25em .4em;
  font-size: 1rem;
  line-height: 1.4;
  border: 1px solid #d6e6f2;
  font-weight: 300;
}

.not-data-container {
  display: grid;
  justify-content: center;
  align-items: center;
  height: max-content;

  h3 {
    color: color(secondary);
  }
}
