.PlayPause {

  button {
    height: inherit;
    border: none;
    background: transparent;
    outline: 0;
    width: inherit;
    box-sizing: none;
    font-size: 2rem;
    cursor: pointer;
    padding: 0;
  }
}
