.Volume {
  display: flex;
  align-items: center;
  padding: 0 1rem;
  border: none;
  background: transparent;
  cursor: pointer;
  outline: 0;
  position: relative;
  // border: 1px solid red;

  .Volume-range {
    transform: rotate(-90deg);
    transform-origin: left bottom;
    position: absolute;
    bottom: 100%;
    left: 3rem;
    height: 3rem;
    display: none;
    background: rgba(0,0,0,.7);
    padding-right: 1.2rem;
    border-radius: 0 1.2rem 1.2rem 0;
  }

  input {
    cursor: grab;
    background: blue;
    border: 1px solid blue;
  }

  &:hover .Volume-range {
    display: flex;
  }
}
